/* Font connection */

@font-face {
    font-family: 'Jaapokkisubtract';
    src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}

/* Specification */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0001c5;
    letter-spacing: 0.06em;;
}

div, p, span, a, input, button {
    box-sizing: border-box;
}

.btn {
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 17px 0;
    width: 217px;
    transition: 0.3s;
    outline: none;
}

.btn:hover {
    background: #fff;
    color: #0001c5;
}

p {
    line-height: 1.7em;
}

.jpk-font {
    font-family: 'Jaapokkisubtract', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaapokkisubtract', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    line-height: 1.3em;
}

h2 {
    letter-spacing: 0.04em;
    margin: 0;
}

h3 {
    letter-spacing: 0.03em;
}
.container {
    margin: 0 auto;
    margin: 0 7%;
    position: relative;
}


/* Hero section */ 

header {
    background: #0406bd url(../img/first_bg.jpg) no-repeat center bottom / cover;
    color: #fff;
    height: 100vh;
    box-shadow: 0px 40px 190px rgba(33,48,99,0.4);
}

header .container {
    height: 100vh;
}

.logo {
    text-align: center;
    width: 48px;
    height: 48px;
    background: #fff;
    color: #0000a0;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 48px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    position: absolute;
    top: 8%;
}

.logo:hover {
    border-radius: 8px;
}

.br-ah {
    background-color: #fff;
    font-size: 18px;
    color: #0304b9;
    height: 174px;
    width: 42px;
    padding: 10px 15px;
    position: absolute;
    left: 61%;
    top: -5px;
    line-height: 1.5em;
    transition: 0.3s;
    z-index: 9999;
    border-radius: 4px;
}

.br-ah:hover {
    height: 250px;
    color: #fff;
    border-radius: 4px;
}

.hamburger { 
    width: 40px;
    position: absolute; 
    right: 0;
    top: 8%;
    cursor: pointer;
}

.hamburger span {
    background: #fff;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    float: right;
    width: 100%;
}

.hamburger span:nth-child(1) {

}

.hamburger span:nth-child(2) {
    width: 75%;
}

.hamburger span:nth-child(3) {
    width: 50%;
}

.hamburger:hover span{
    float: left;
}

.offer {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -300px;
    left: 0;
}

.offer__bg {
    font-size: 250px;
    color: #1b1cc4;
    position: absolute;
}

.offer__title {
    font-size: 55px;
    position: relative;
    width: 561px;
    margin-left: 100px;
    margin-top: 100px;
}

.offer__title::after {
    content: "";
    display: block;
    background: #fff;
    width: 29px;
    height: 5px;
    position: absolute;
    top: -18px;
    right: 260px;
}

.offer__text {
    font-size: 17px;
    width: 337px;
    margin-top: 40px;
    margin-left: 226px;
}

.offer__btn {
    margin-top: 40px;
    margin-left: 350px;
}

.next {
    font-size: 240px;
    margin-top: -238px;
    margin-left: 150px;
    line-height: 0.05em;
    
    width: 333px;
    position: absolute;
    top: 50%;
    right: 0;
    text-shadow: 15px 15px 0 #0309a1;
}

.next span {
    margin-right: -40px;
    line-height: 0.7em;
}

.next span:nth-child(2) {
    color: #0048ff;
}

.scroll {
    display: block;
    font-size: 22px;
    border-right: 3px solid #fff;
    height: 135px;
    width: 100px;
    padding-right: 40px;
    padding-top: 20px;
    color: #fff;
    text-decoration: none;

    position: absolute;
    right: 5%;
    bottom: 0;

    transition: 0.3s;
}

.scroll:hover {
    background-color: #fff;
    color: #0309a1
}

/* Services */
.services {
    padding-top: 166px;
}
.section-title {

}

.section-title__title {
    font-size: 85px;
    margin-left: 50px;
    position: relative;
}

.section-title__intro {
    font-family: 'Jaapokkisubtract';
    color: #a8a8e4;
    font-size: 23px;
}

.section-title__title::after {
    content: '';
    background-color: #1e1fec;
    display: inline-block;
    width: 39px;
    height: 5px;
    margin-bottom: -10px;

}

.service__item { 
    display: block;
    width: 20%;
    border: 4px solid #0001c5;
    background: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 120px;

    position: relative;
    transition: 0.3s;
}

.service__icon {
    font-size: 48px;
    margin-bottom: 45px;
    display: block;
}

.service__title {
    font-size: 26px;
}

.service__more {
    font-size: 31px;
    width: 36px;
    height: 36px;
    background: #0001c5;
    color: #fff;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: 0.3s;

    position: absolute;
    right: 0;
    bottom: 0;
}

.service {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 185px;
}

.service__index {
    font-family: 'Jaapokkisubtract';
    position: absolute;
    font-size: 23px;
    color: #a8a8e4;
    left: -50px;
    top: 20px;
}

.service__item:hover {
    background-color: rgba(0,1,197,1);
    color: #fff;
    box-shadow: 12px 12px 65px rgba(0,1,197,0.45);
}

.service__item:hover .service__more {
    background: #fff;
    color: #0001c5;
}

/* Footer */

.footer {
    background: #ededf8;
    padding: 160px 0;
}

.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits__logo {
    background: #0001c5;
    color: #fff;
    position: relative;
    top: auto;
}

.credits__btn {
    font-size: 17px;
    background-color: #0001c5;
    border: 3px solid #0001c5;
    padding: 13px 0;
    width: 172px;
}

.credits__up {
    color: #0001c5;
    font-size: 20px;
    color: red;
}

.credits__up a{
    text-decoration: none;
    color: #0001c5;
}